@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html {
  box-sizing: border-box;
  height: 100%;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

h1 {
  width: 0;
  height: 0;
  overflow: hidden;
}

.wrapper {
  position: relative;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  perspective: 400px;
  padding-bottom: 3.8vw;
  transition: background-image 0.4s ease-in-out;
}

.wrapper.fullscreen-enabled {
  padding-bottom: 5.5vw;
}

.piano {
  position: relative;
  height: 30%;
  width: 50%;
  transform-style: flat;
  transform: rotateX(75deg);
  font-size: 2em;
  backface-visibility: hidden;
  transition: transform 1s ease-in-out;
}
.piano.up {
  transform: rotateX(140deg);
}

.piano__box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.key {
  border-radius: 0 0 10px 10px;
  user-select: none;
  transform: scale(1);
  opacity: 0.95;
  transition: all 0.1s ease-in-out;
  cursor: grab;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.key span {
  color: aliceblue;
  font-family: "Press Start 2P", cursive;
  opacity: 0.3;
  transition: all 0.1s ease-in-out;
}

.piano__top-key {
  position: absolute;
  top: 0;
  width: 8%;
  height: 55%;
  background-color: rgba(108, 7, 117, 1);
  border: 2px solid #6c0775;
  box-shadow: 0px 4px 8px 1px #6c0775;
  -webkit-box-shadow: 0px 4px 8px 1px #6c0775;
  -moz-box-shadow: 0px 4px 8px 1px #6c0775;
  z-index: 2;
}

.piano__top-key:nth-child(1) {
  left: 10%;
}
.piano__top-key:nth-child(2) {
  left: 25%;
}
.piano__top-key:nth-child(3) {
  left: 53%;
}
.piano__top-key:nth-child(4) {
  left: 67.5%;
}
.piano__top-key:nth-child(5) {
  left: 82%;
}

.piano__bottom-key {
  flex-grow: 1;
  height: 100%;
  background-color: #bd29f6;
  border: 2px solid #d606a8;
  box-shadow: 0px 6px 8px 1px #d606a8;
  -webkit-box-shadow: 0px 6px 8px 1px #d606a8;
  -moz-box-shadow: 0px 6px 8px 1px #d606a8;
}

.piano__box > div:first-child {
  border-top-left-radius: 10px;
}

.piano__box > div:nth-child(7) {
  border-top-right-radius: 10px;
}

/*--------togglers----------*/
.t-btn {
  flex-grow: 1;
  height: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: aliceblue;
  font-size: 2em;
  font-family: "Press Start 2P", cursive;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  opacity: 0.65;
  transition: opacity 0.2s ease-in, scale 0.1s ease;
  transform: scale(1);
  outline: none;
}

.t-btn:active {
  transform: scale(0.95);
}

.toggler {
  margin: 0 auto;
  display: flex;
  max-width: 450px;
  width: 100%;
  height: 60px;
}

.sound-toggler {
  position: absolute;
  top: 50%;
  left: 0;
  max-width: 60vh;
  font-size: 2vh;
  transform: translateX(-50%) rotate(-90deg);
  transform-origin: center top;
}

.view-toggler {
  position: absolute;
  top: 50%;
  right: 0;
  max-width: 60vh;
  font-size: 1vh;
  transform: translateX(50%) rotate(90deg);
  transform-origin: center top;
}

.t-btn:hover {
  opacity: 0.9;
}

.t-btn.active {
  cursor: default;
  opacity: 1;
}

.piano__back {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.541);
  transform: translateX(-50%) rotateX(-70deg);
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 8vw;
  width: 59%;
  transition: transform 1s ease-in-out;
}
.piano__back.active {
  transform: translateX(-50%) rotateX(0deg);
}

#showAddMenu {
  position: absolute;
  top: 0;
  left: 1vw;
  font-size: 1em;
  height: 3.5em;
  padding: 0 1em;
  width: fit-content;
}

/* ----- hover -------*/

.key:hover {
  opacity: 0.9;
}

/* ----- on .active -------*/

.key.active {
  transform: scale(0.99);
  cursor: grabbing;
}

.key.active span {
  color: #f5c66b;
  opacity: 0.8;
}

.key.active {
  transform: scale(0.99) translateY(4px);
  color: aliceblue;
}
.piano__top-key.active {
  box-shadow: 0px 1px 0px 0px #6c0775;
  background-color: rgba(108, 7, 117, 0.8);
}

.piano__bottom-key.active {
  box-shadow: 0px 1px 0px 0px rgb(214, 6, 168);
  background-color: rgba(214, 6, 168, 0.8);
}

#fullScreenBtn.active {
  cursor: pointer;
}

/* ----- media -------*/

@media (max-width: 1570px) {
  .piano {
    width: 60%;
  }
  .piano__back {
    width: 72%;
  }
}

@media (max-width: 1300px) {
  .wrapper {
    padding-bottom: 2vw;
  }
  .piano {
    font-size: 1.5em;
  }
}

@media (max-width: 1024px) {
  .piano {
    width: 60%;
    transform: rotateX(66deg);
  }
}

@media (max-width: 950px) {
  .piano {
    width: 82%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding-bottom: 1vw;
  }
}
